{{template "base/head" .}}
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>Only for authorised users.</h2>
				<h3>Directory for other services</h3>
				<div><a href="https://kiwi.sgdevlab.duckdns.org/">Kiwi Test Case Management</a></div>
				<div><a href="https://jenkins.sgdevlab.duckdns.org/">Jenkins Pipeline Management</a></div>
				<div><a href="https://dokuwiki.sgdevlab.duckdns.org/">Knowledge Base Wiki</a></div>
				<div><a href="https://nexus.sgdevlab.duckdns.org/">Private Registry for Artifacts</a></div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}